{%extends "home/base.html"%}

{%block header%}{{chapter.name}}{%endblock%}

{%block content%}
<div class ="chaptername">
	LeastSquareSolver
</div>

<div class ="introduction">
	<p class = "introduction"> <span>LeastSquareSolver</span> is one of the solvers of least squares problems. <span>LeastSquareSolver</span> solves the least squares problems by solving the equation 'A^TAx = A^Tb' directly. This class derives directly from another class called <span>GeneralSolver</span> and takes <span>Problem</span> and <span>Time</span> as template.</p>
</div>

<div class = "detail">
	<div class = "definition">
    	LeastSquareSolver(const Problem&amp s)
	</div>
	<div class = "description">
		Initialization of the LeastSquareSolver. 
		<p class= "paragraph">
        Parameters:
        </p>
        <p class = "arg"><span>s:</span> The least squares problem</p>
	</div>
</div>

<div class = "detail">
	<div class = "definition">
    	const Vector&amp result() const
	</div>
	<div class = "description">
		Get the final result of LeastSquareSolver. 
        <p class= "paragraph">
        Returns:
        </p>
        <p class = "arg"> The final result of the solver, a vector</p>
	</div>
</div>

<div class = "detail">
	<div class = "definition">
	    scalar objective() const
	</div>
	<div class = "description">
        Calculate the square of l2-norm of 'Ax - b' in order to see how well the problem is solved using LeastSquareSolver.
        <p class= "paragraph">
        Returns:
        </p>
        <p class = "arg"> The square of l2-norm of 'Ax - b', a scalar</p>
	</div>
</div>
{%endblock%}