{%extends "home/base.html"%}

{%block header%}{{chapter.name}}{%endblock%}

{%block content%}
<div class ="chaptername">
	VectorBase
</div>

<div class ="introduction">
	<p class = "introduction"> <span>VectorBase</span> is one of the base mathematical classes in open source library COPT. <span>VectorBase</span> describes a basic type vector. A vector is a multiple dimensional array with a number of arithmetic operations including summation, subtraction, multiplication etc. This class derives directly from another basic type called <span>Array</span> and also takes <span>scalar</span> and <span>index</span> as template. </p>
</div>

<div class = "detail">
	<div class = "definition">
    	VectorBase()
	</div>
	<div class = "description">
		The default constructor of VectorBase. A zero-dimensional vector will be generated as default.
	</div>
</div>

<div class = "detail">
	<div class = "definition">
	    VectorBase(const index size, scalar *data = nullptr)
	</div>
	<div class = "description">
        Constructor for generating a vector with specific length and a given array. A zero vector is generated if given array is a nullptr.
        <p class= "paragraph">
        Parameters:
        </p>
        <p class = "arg">size: The size of the vector</p>
        <p class = "arg">data: The pointer to the array of data. nullptr is used as default.
	</div>
</div>

<div class = "detail">
	<div class = "definition">
	    VectorBase ( const VectorBase& vec )
	</div>
	<div class = "description">
        Copy constructor from a given vector vec. The vector will still be a reffered vector if vec is one. Both vectors point to the same array. Otherwise the data will be copied.
	</div>
</div>

<div class = "detail">
	<div class = "definition">
	    VectorBase( const index size, const referred_array& tag, scalar* data, const index inter = 1 )
	</div>
	<div class = "description">
        Constructor of a referred vector. Referred vector is a special kind of vector which does not have its own data. The data is stored somewhere else. As an instance, it is not convenient to construct another vector when representating a column or a row of a matrix. But it is efficient just referred to the data. Here inter is the interval between two elements.
	</div>
</div>

<div class = "detail">
	<div class = "definition">
	    VectorBase( const index size, const referred_array& tag, const scalar* data, const index inter = 1 )
	</div>
	<div class = "description">
        The same as above constructor.
	</div>
</div>

<div class = "detail">
	<div class = "definition">
        VectorBase(const std::vector<scalar>& vec)
	</div>
	<div class = "description">
        Constructor from std::vector vec from C++ standard libraray. The size is set as the size of std::vector and the data is the same as given vec.
	</div>
</div>

<div class = "detail">
	<div class = "definition">
    	~VectorBase()
	</div>
	<div class = "description">
		The deconstructor of VectorBase.
	</div>
</div>

<div class = "detail">
	<div class = "definition">
        VectorBase& operator=( const VectorBase& vec )
	</div>
	<div class = "description">
		Copy assignment of VectorBase. The functionality is the same as copy constructor. All data is copied.
	</div>
</div>

<div class = "detail">
	<div class = "definition">
        scalar& operator()(const index i )
	</div>
	<div class = "description">
		Matlib-like data access of VectorBase. User can use operator() to access the i-th element of a given VectorBase vec. The syntax is simply vec(i) and out-of-range exception will be throwed if i is less than zero or no less than the size of vec. Note that the first element is with index 0 meaning that i is in range [0,size-1].
	</div>
</div>

<div class = "detail">
	<div class = "definition">
        const scalar& operator() (const index i )const
	</div>
	<div class = "description">
        Const access of element in VectorBase.
	</div>
</div>

<div class = "detail">
	<div class = "definition">
        bool operator< (const VectorBase& vec)const
	</div>
	<div class = "description">
        Comparison of two VectorBase. Value true is returned if every element of the first VectorBase is smaller than the right one, false is returned otherwise.
	</div>
</div>

<div class = "detail">
	<div class = "definition">
        bool operator< (const scalar s)const
	</div>
	<div class = "description">
        Comparison of a VectorBase and a scalar. Value true is returned if every element of the VectorBase is smaller than the given scalar s, false is returned otherwise.
	</div>
</div>

<div class = "detail">
	<div class = "definition">
        bool operator<=(const VectorBase& vec)const
	</div>
	<div class = "description">
        This is operator<= of VectorBase.Return true if every element of the left VectorBase is not larger than corresponding element of the right one, return false otherwise.
	</div>
</div>

<div class = "detail">
	<div class = "definition">
        bool operator<=(const scalar s)const
	</div>
	<div class = "description">
        This is operator<= of VectorBase.Return true if every element of the left VectorBase is not larger than the given scalar s, return false otherwise.
	</div>
</div>

<div class = "detail">
	<div class = "definition">
        bool operator> (const VectorBase& vec)const
	</div>
	<div class = "description">
        This is operator> of VectorBase.Return true if every element of the left VectorBase is larger than corresponding element of the right one, return false otherwise.
	</div>
</div>

<div class = "detail">
	<div class = "definition">
        bool operator> (const scalar s)const
	</div>
	<div class = "description">
        This is operator> of VectorBase.Return true if every element of the left VectorBase is larger than the given scalar s, return false otherwise.
	</div>
</div>

<div class = "detail">
	<div class = "definition">
        bool operator>=(const VectorBase& vec)const
	</div>
	<div class = "description">
        This is operator>= of VectorBase.Return true if every element of the left VectorBase is not smaller than corresponding element of the right one, return false otherwise.
	</div>
</div>

<div class = "detail">
	<div class = "definition">
        bool operator>=(const scalar s)const
	</div>
	<div class = "description">
        This is operator>= of VectorBase.Return true if every element of the left VectorBase is not smaller than the given scalar s, return false otherwise.
	</div>
</div>

<div class = "detail">
	<div class = "definition">
        bool operator==(const VectorBase& vec)const
	</div>
	<div class = "description">
        This is operator== of VectorBase.Return true if every element of the left VectorBase is equal to corresponding element of the right one, return false otherwise.
	</div>
</div>

<div class = "detail">
	<div class = "definition">
        bool operator==(const scalar s)const
	</div>
	<div class = "description">
        This is operator== of VectorBase.Return true if every element of the left VectorBase is equal to the given scalar s, return false otherwise.
	</div>
</div>

<div class = "detail">
	<div class = "definition">
        bool operator!=(const VectorBase& vec)const
	</div>
	<div class = "description">
        This is operator!= of VectorBase.Return true if at least one element of the VectorBase is not equal to corresponding element of the right one, return false otherwise.
	</div>
</div>

<div class = "detail">
	<div class = "definition">
        bool operator!=(const scalar s)const
	</div>
	<div class = "description">
        This is operator!= of VectorBase.Return true if at least one element of the left VectorBase is not equal to the given scalar s, return false otherwise.
	</div>
</div>

<div class = "detail">
	<div class = "definition">
        podscalar squaredNorm() const
	</div>
	<div class = "description">
		Computation of the square of l2 norm of the VectorBase.
	</div>
</div>

<div class = "detail">
	<div class = "definition">
        podscalar absNorm() const
	</div>
	<div class = "description">
        Computation of the abs norm or l1 norm of the VectorBase.
	</div>
</div>

<div class = "detail">
	<div class = "definition">
        podscalar normalize()
	</div>
	<div class = "description">
		Normalizing the VectorBase and returning the norm of it.
	</div>
</div>

<div class = "detail">
	<div class = "definition">
        scalar dot(const VectorBase& vec) const
	</div>
	<div class = "description">
        This is the dot operation of VectorBase.
	</div>
</div>

<div class = "detail">
	<div class = "definition">
        void scale(scalar s)
	</div>
	<div class = "description">
        Scaling the whole vector with a given scalar s. 
	</div>
</div>

<div class = "detail">
	<div class = "definition">
        VectorBase operator* (scalar s)
	</div>
	<div class = "description">
		Computing the multiplication of the vector and a scalar s. Every element of the vector multiplies s.
	</div>
</div>

<div class = "detail">
	<div class = "definition">
        friend VectorBase operator* (scalar s,const VectorBase& vec)
	</div>
	<div class = "description">
        This is the same function as "VectorBase operator* (scalar s)". 
	</div>
</div>

<div class = "detail">
	<div class = "definition">
        VectorBase operator+ (const VectorBase& vec) const
	</div>
	<div class = "description">
        This is the summation operation of VectorBase.
	</div>
</div>

<div class = "detail">
	<div class = "definition">
        VectorBase operator- (const VectorBase& vec) const
	</div>
	<div class = "description">
        This is the subtraction operation of VectorBase.
	</div>
</div>

<div class = "detail">
	<div class = "definition">
        VectorBase operator- () const
	</div>
	<div class = "description">
        This is a function used to calculate Anti vector.
	</div>
</div>

<div class = "detail">
	<div class = "definition">
        friend std::ostream& operator<<(std::ostream& os,const VectorBase& vec)
	</div>
	<div class = "description">
        Overload of output stream of VectorBase. The output form is like [v[0],v[1],...,v[size-1]].
	</div>
</div>

<div class = "detail">
	<div class = "definition">
        static VectorBase vecE(index size,index i)
	</div>
	<div class = "description">
        This function generates a VectorBase with specific size whose i-th element is 1 while others are 0. 
	</div>
</div>

<div class = "detail">
	<div class = "definition">
        static VectorBase vecE(index size,index i,const scalar s)
	</div>
	<div class = "description">
        This function generates a VectorBase with specific size whose i-th element is s while others are 0. 
	</div>
</div>

<div class = "detail">
	<div class = "definition">
        MatrixBase<scalar,index> mulTrans(const VectorBase& vec) const
	</div>
	<div class = "description">
        This is the transpose operation of VectorBase.
	</div>
</div>

<div class = "detail">
	<div class = "definition">
        VectorBase transMul(const MatrixBase<scalar,index>& mat) const
	</div>
	<div class = "description">
        This function transposes a VectorBase and multiplies it with a Matrix.
	</div>
</div>

<div class = "detail">
	<div class = "definition">
        VectorBase block(const std::set&ltindex&gt&amp indices) const
	</div>
	<div class = "description">
        Vector blocking of the vector. The indices of blocking vector are given in std::set&ltindex&gt from C++ standard library. Notice that the elements of std::set&ltindex&gt are placed in order.
	</div>
</div>

<div class = "detail">
	<div class = "definition">
        VectorBase block(const std::vector&ltindex&gt&amp indices) const
	</div>
	<div class = "description">
        Vector blocking of the vector. The indices are given std::vector&ltindex&gt from C++ standard library. Remember that the elements of std::vector&ltindex&gt are not forced to be in order. 
	</div>
</div>

<div class = "detail">
	<div class = "definition">
		template&ltclass InputIterator&gt</br>
		VectorBase block(const index bs, InputIterator begin, InputIterator end) const
	</div>
	<div class = "description">
		Another vector blocking method taking iterator as input. The begin iterator and end iterator are used as parameters. 
	</div>
</div>

<div class = "detail">
	<div class = "definition">
        void blockFromVector(const VectorBase& vec, const std::set&ltindex&gt& indices)
	</div>
	<div class = "description">
        Blocking the vector from a given vector vec. The indices are given in std::set&ltindex&gt from C++ standard library.
	</div>
</div>

<div class = "detail">
	<div class = "definition">
        void blockFromVector(const VectorBase& vec, const std::vector&ltindex&gt& indices)
	</div>
	<div class = "description">
        Blocking the vector from a given vector vec. The indices are given in std::vector&ltindex&gt from C++ standard library.
	</div>
</div>

<div class = "detail">
	<div class = "definition">
		template&ltclass InputIterator&gt</br>
		void blockFromVector(const VectorBase& vec, const index bs, InputIterator begin, InputIterator end)
	</div>
	<div class = "description">
		Blocking the vector from a given vector vec. The begin and end iterator are given.
	</div>
</div>

<div class = "detail">
	<div class = "definition">
        void combine(
		const VectorBase& v1,
		const VectorBase& v2)
	</div>
	<div class = "description">
        This is a function used to combine two vectors.
	</div>
</div>

<div class = "detail">
	<div class = "definition">
        static inline void stCombine(
		const VectorBase& v1,
		const VectorBase& v2,
		VectorBase& v)
	</div>
	<div class = "description">
        This is a function used to combine two vectors and it takes output as a parameter.
	</div>
</div>

<div class = "detail">
	<div class = "definition">
        static inline VectorBase random( const index i )
	</div>
	<div class = "description">
        This function generates a random VectorBase with size i.
	</div>
</div>
{%endblock%}